.cellar{
	font-family: 'Signika';
	font-size: 18px;
	font-weight: lighter;
	color: #222;
	padding: 4px;
	text-align: left;
}

.tableHeader{
	background-color: #3c3c3c;
	font-family: 'Signika';
	font-size: 18px;
	font-weight: semi-bold;
	color: #DDD;
	padding: 4px;
}

.editOrDelete{
	text-align: right;
	padding-bottom: 4px;	
}

