body{
	font-family: 'Roboto';
	font-size: 1em;
	font-weight: lighter;
}

.chartSide{
	width: 200px;
	height: 200px;
}

a.red{
	color: #A60000
}

a.white{
	color: #A1A1A1;
}

a.rose{
	color: #FA7085;
}

a.other{
	color: #372C2C;
}

.tooltip{
    position: relative;
}

.tooltip:hover{
	cursor: pointer;
}

.tooltip > div{
    display: none;
    position: absolute;
    bottom: 100%;
    left: -150%;
    width: 9em;
}

.tooltipContent{
	border: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, .05);
    text-align: center;
}

form{
	width: 25%;
}

input[type="checkbox"]{
	display: inline;
}
