table{
	opacity: 1.0;
}

table:hover{
	opacity: 0.4;
}

.winebook{
	background-color: #fffee1;
	border-width: 0px;
	text-align: justify;
	padding: 4px;
	font-size: 24px;
	width: 250px;
	height: 250px;
	font-family: 'Signika';
	font-size: 14px;
	font-weight: lighter;
	color: #222222;
	left: 10%;
	position: absolute;
	right: 10%;
}