html
  height: 100%

html, body
  position: relative
  min-height: 100%
  min-width: 100%
  overflow-x: hidden

body
  background-color: white
  background-size: cover
  font-family: Roboto
  min-height: 100%
  text-size: 16px

#view_container
  position: relative
  min-height: 100%

.view
  background-image: url("../img/fabric_of_squares_gray.png")
  position: absolute
  top: 0px
  width: 100%
  z-index: 100
  overflow: hidden
  padding-top: $HEADER_HEIGHT
  &.no_header
    padding-top: 0
  &.no_bg
    background-image: none
  h1, h2, h3, h4, h5, h6
    color: black
    opacity: 1
    text-shadow: 1px 1px 0px white

h1, h2, h3, h4, h5, h6
  font-family: "LeagueGothicRegular"
  text-transform: uppercase
  opacity: 0.6
  letter-spacing: 1px

h1
  font-size: 3em

h2
  font-size: 2.8em

h3
  font-size: 2.4em

p
  font-weight: 100
  line-height: 1.3em
  padding: 1em

.dark_bg
  background-color: rgba(black, 0.5)
  color: white

.light_bg
  background-color: white
  &>*:not(.bg)
    position: relative
    z-index: 10

.squairy_bg
  background-image: url("../img/squairy_light.png")

.curved
  border-radius: 8px
  border: 1px solid #CCC

.shadow
  box-shadow: 0 0 4px rgba(black, 0.3)

.wine_grid
  list-style: none
  @include transition(all, 1s)

  .wine
    @include inline_block
    width: 140px
    height: 140px
    position: relative
    margin: 0.3em
    padding: 6px
    box-shadow: 0 0 3px rgba(black, 0.2) inset
    background-color: rgba(black, 0.1)
    border: none
    img
      width: 100%


a.light_link
  text-decoration: none
  color: #AAA
  padding-left: 1em
  @include transition(all, 0.35s)
  &:hover
    color: black

a.box_arrow
  position: relative
  &:after
    content: ""
    @include background_image("icons/box-arrow.png")
    height: 18px
    width: 18px
    display: block
    top: 2px
    right: -25px
    position: absolute
    opacity: 0.2
    @include transition(all, 1s)
  &:hover:after
    opacity: 0.9


.no_display
  display: none

.align_right
  text-align: right
.align_left
  text-align: left
.align_center
  text-align: center
  
// For modern browsers
.clearfix:before,
.clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

// For IE 6/7 (trigger hasLayout)
.ie .clearfix
  zoom: 1



// Wine Grid Styling
.wine_grid_container
  padding: 1em
  overflow: hidden
  position: relative
  &:before, &:after
    content: ""
    width: 1px
    height: 98%
    position: absolute
    top: 1%
    box-shadow: 0 0 8px rgba(black, 0.6)
    z-index: 50
  &:after
    right: -1px
  &:before
    left: -1px

  h2
    border-bottom: 1px solid rgba(black, 0.2)
    margin-top: -0.1em
    margin-bottom: 0.2em
    margin-right: 6%
    margin-left: -30px
    padding-left: 30px

  .next, .prev
    @include background_image("icons/arrow.png")
    height: 100px
    width: 100px
    position: absolute
    top: 40%
    @include transition(all, 1s)
    opacity: 0.1
    cursor: pointer
  .prev
    @include rotate(-180deg)
    left: -100px
  .next
    right: -100px
  &:hover
    .prev, .next
      opacity: 0.4
      &:hover
        opacity: 1
    .prev
      left: -30px
    .next
      right: -30px