body
  background-image: url('../img/light_wool.png')
  font-family: Roboto

.view
  overflow: hidden

h1, h2, h3, h4, h5, h6
  font-family: "LeagueGothicRegular"
  text-transform: uppercase

h1
  font-size: 3em
  color: black // #2F3242