header
  box-shadow: 0px 2px 4px rgba(black, 0.3)
  padding: 0
  margin: 0
  position: fixed
  top: 0px
  left: 0px
  height: $HEADER_HEIGHT
  background: rgba(white, 0.6)
  z-index: 10000
  width: 100%
  @include transition(all, 1s)
  &:hover
    background: rgba(white, 0.95)

  #logo
    @include background_image("logo.png")
    width: 2 * $HEADER_HEIGHT
    height: $HEADER_HEIGHT
    opacity: 0.8
    &:hover
      cursor: pointer

  #account_links
    position: absolute
    top: 0px
    right: 16px
    a
      font-size: 0.7em
      margin-right: 0.9em
      @include inline_block
      opacity: 0.5
      cursor: pointer
      @include transition(all, 0.35s)
      &:hover
        opacity: 1

    
  nav
    @include prevent_selection
    position: absolute
    right: 0px
    top: $HEADER_HEIGHT / 3.6
    ul
      li
        font-family: LeagueGothicRegular
        font-size: 2em
        text-transform: uppercase
        @include inline_block
        padding: 0.3em 0.3em 0.1em 0.3em
        margin-right: 0.5em
        opacity: 0.3
        text-shadow: 1px 1px 0px white
        cursor: pointer
        @include transition(all, 0.3s)
        &:hover
          background: rgba(black, 0.05)
          opacity: 0.9
