#wizard
  #wizard_form
    width: 85%
    margin-left: auto
    margin-right: auto
    text-align: center
  
    input[type="text"]
      margin-bottom: 20px
    
    select
      width: 96.5%
    
    .number
      width: 25%
      display: inline
      margin-right: 10px
    
    input[type="button"]
      width: 50%
      position: relative
      left: 23%

  .light_bg_wizard
    background-color: white

    &.with_border
      position: relative
      margin: 1em
      width: 50%
      left: 7%
      padding-left: 2%
      margin-left: 40%
