#front
  height: 100%
  width: 100%
  position: relative
  top: 0px

  h1, h2, h3, h4, h5, h6
    font-family: "LeagueGothicRegular"
    text-transform: uppercase
    color: white
    text-shadow: none

#frontpage_background
  position: fixed
  height: 100%
  width: 100%
  top: 0px
  left: 0px
  z-index: 0
  @include background_image("bg1.jpg", 100%, 100%, center, top)

#login_links
  margin-right: -1000px
  ul
    list-style: none
    padding: 0.5em 1.2em 0.3em 1.2em
    margin-top: 1em
    li
      display: inline
      font-family: LeagueGothicRegular
      font-size: 2.8em
      text-transform: uppercase
      padding-right: 0.5em
      color: white
      opacity: 0.3
      cursor: pointer
      @include transition(all, 0.35s)
      &:hover
        opacity: 0.8

#popular_wines
  width: 100%
  margin-top: 7em
  h2
    padding-left: 0.6em
    opacity: 0.6
  .wine
    border: 1px solid #333
    background: rgba(black, 0.4)