#home
  .bg
    $BORDER: 20px
    width: 100%
    height: 100%
    border: $BORDER solid rgba(black, 0.05)
    position: absolute
    z-index: 0
    top: -$BORDER
    left: -$BORDER
    z-index: 0

  .light_bg
    h3
      padding: 18px

    &.with_border
      position: relative
      margin: 1em

  .advanced_link
    margin-right: 3em

  #wine_search
    padding-top: 1.4em
    padding-bottom: 0.5em
    padding-left: 18px
    padding-right: 18px
    input
      @include inline_block
      padding: 2.5% 4% 2.5% 4% !important
    input[type="text"]
      width: 67%
      padding-left: 2% !important
    input[type="button"]
      width: 23%
      margin-left: 2% !important
      margin-top: -4px !important

#quick_search_results
  text-align: center
  //.wine
  //  float: left
  
#chartSide
  a.red
    color: #A60000

  a.white
    color: #A1A1A1

  a.rose
    color: #FA7085

  a.other
    color: #372C2C

  .tooltip
    position: relative
        
  .tooltip > div
    display: none
    position: absolute
    bottom: 100%
    left: 50%
    margin-left: -150px
    width: 300px

  .tooltipContent
    border: none
    padding: 5px
    background-color: rgba(0, 0, 0, .05)
